root = "."
tmp_dir = "tmp"

[build]
  cmd = "go build -o ./tmp/webgard ./cmd"
  bin = "./tmp/main"
  full_bin = "sudo ./tmp/webguard start -c ./dev.config.json"
  delay = 1000
  exclude_dir = []
  exclude_file = []
  exclude_regex = []
  exclude_unchanged = false
  follow_symlink = false
  include_dir = []
  include_ext = ["go", "tpl", "tmpl", "html", "json"]
  kill_delay = "0s"
  log = "build-errors.log"
  send_interrupt = false
  stop_on_error = true

[color]
  app = ""
  build = "yellow"
  main = "magenta"
  runner = "green"
  watcher = "cyan"

[log]
  time = false

[misc]
  clean_on_exit = false
